<form novalidate class="data-form">
    <div class="form-group" class="col-md-6">
        <label class for="title">Title</label>
            <input  id="title" name="title" class="form-control" type="text" ng-model="data.title" value="title"/>
    </div>
    <div class="form-group">
           <label for="maf">MAF:</label>
                 <textarea id="maf" name="maf" class="form-control"
                   ng-model="data.maf" required="maf data required"
                   value="maf" rows="4"></textarea><br/>
    </div>





    <div class="form-group">
        <label for="clinical">Clinical Data :</label>
        <textarea id="clinical" class="form-control" name="clinical"
                  ng-model="data.clinical" required="clinical data required"
                  value="clinical" rows="4"></textarea><br/>
    </div>


    <div class="form-group">
        <div class="btb-group"> </div>
            <button class="btn btn-success" type="button"  ng-click="loadSample()"> Load Sample Data </button></span>
            <button class="btn btn-default" ng-click="update()"> Catch!</button>
    </div>

</form>